.App {
    text-align: center;
}

.App-logo {
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    border-color: transparent;
    border-image-source: radial-gradient(circle, rgba(0,188,212,1) 24%, rgba(255,64,129,1) 100%);
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-image-slice: 1;
}

.App-intro {
    font-size: large;
    margin: 10px;
}

#full-task-view, #tasks-list, #no-active-task {
    display: inline-block;
    width: 50%;
}

.inline-task {
    margin-bottom: 10px;
}

#full-task-view > div {
    padding-bottom: 5%;
}
